.table {
  width: 100%;
}

.table .checkBoxTable {
  margin-bottom: 0;
}

.tableRowChecked {
  background: #e1ecf6;
}

.headerTable {
  background: #f8fafc;
}
.headerTable th {
  padding: 20px 10px;
}

.tableRowChecked .btnMakeInactive {
  padding: 16.24px 0 !important;
}

.tdCheckBox {
  padding: 28px 15px !important;
  width: 16px;
}

.tdCheckStatus {
  padding: 28px 20px !important;
  width: 30px;
}

.headerTable tr {
  transition: 0.3s;
}

.trTable {
  border-bottom: 1px solid #d6e3ec;
  transition: 0.3s;
}

.trTable td {
  padding: 28px 10px;
}

.headerAddTags {
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerAddTags h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  height: auto;
}

.rowItemData {
  display: flex;
  align-items: center;
}

.trashBtn {
  margin-left: 6px;
}

.ContentWrapperPages {
  width: 50%;
}

.ContentWrapperPagesLarge {
  width: 70%;
}

.actionRowTable {
  width: 106px;
  display: flex;
}
