.navigationBar {
  padding: 0 40px;
  border-bottom: 1px solid #d6e3ec;
  margin-bottom: 30px;
}

.active {
  border-bottom: 3px solid #40f3f7;
}

.navigationBar a {
  padding: 25px 5px;
  text-transform: uppercase;
  color: #202f55;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* border-bottom: 3px solid transparent; */
}

.blockBottom {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  border: 1px solid #d6e3ec;
  box-shadow: 0px 4px 40px rgba(76, 94, 115, 0.21);
  padding: 24px 24px 0;
  transition: 0.4s;
  z-index: 100;
  margin-left: -50px;
}

.hover:hover .blockBottom {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s, 0.15s;
}

.linkBottom {
  margin-bottom: 24px;
}

.linkBottom a {
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #a6b1b9;
  transition: 0.3s color;
}

.linkBottom a:hover {
  font-weight: 500;
  color: #4f669d;
  text-decoration: none;
}
