.tdElem {
  padding: 20px 15px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  text-transform: capitalize;

  color: #000000;

  border: 1px solid #d6e3ec;
}

.tdLink {
  font-weight: bold;
  color: #4f669d;
  cursor: pointer;
}

.tdTable {
  font-weight: bold;
  color: #4f669d;
  cursor: pointer;
}
