.tags {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.01em;

  position: relative;
  padding: 6px 0 0 6px;

  cursor: text;

  border: 1px solid #d6e3ec;
  border-radius: 6px;
}

.isFocused {
  border-color: #b1b1b1;
}

.selected {
  display: inline;
}

.selectedTag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 5px 3px;
  background: #ffffff;
  color: #4f669d;

  font-size: inherit;
  line-height: inherit;

  border: 1px solid #d6e3ec;
  border-radius: 6px;
}
.selectedTag:before {
  content: url('data:image/svg+xml;utf8,<svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.8 7.06l3.24-3.3.93.94L9.72 8l3.25 3.3-.93.94-3.25-3.3-3.25 3.3-.93-.94L7.86 8 4.61 4.7l.93-.94 3.25 3.3z" fill="%23838EAC"/></svg>');
  margin-right: 8px;
  margin-left: 3px;
}

.selectedTag:hover {
  border-color: #b1b1b1;
}
.selectedTag:focus {
  border-color: #b1b1b1;
}

.search {
  display: inline-block;

  padding: 7px 2px;
  margin-bottom: 6px;

  max-width: 100%;
}

@media (min-width: 30em) {
  .search {
    position: relative;
  }
}

.searchInput {
  max-width: 100%;

  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  font-size: inherit;
  line-height: inherit;
}
.searchInput::-ms-clear {
  display: none;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media (min-width: 30em) {
  .suggestions {
    width: 240px;
  }
}

.suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}
.suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.isActive {
  background: #b7cfe0;
}

.isDisabled {
  opacity: 0.5;
  cursor: auto;
}
